/*!
 * application style overrides and customizations
 */

/* note that this gets overridden by bootstrap-responsive.min.css when screen size changes */
body {
	padding-top: 60px;
	padding-bottom: 40px;
}

h1 {
	margin-bottom: 8px;
}

hr {
	margin: 10px 0px 10px 0px;
}

p.buttonContainer {

}

table.collection tr:hover {
    cursor: pointer;
}

table.collection th:hover {
    cursor: pointer;
    opacity: 0.5;
}

.date-picker input
{
	width: 80px;
}

.date-picker i
{
	color: #999;
	margin-top: 2px;
	margin-left: -1px;
}

.bootstrap-timepicker-component input
{
	width: 70px;
}

.bootstrap-timepicker-component i
{
	color: #999;
	margin-top: 3px;
	margin-left: 0px;
}

.searchContainer input, searchContainer button
{
	margin-top: 8px;
}

.searchContainer input
{
	margin-top: 8px;
}

/* search filter button */
.input-append button.add-on {
    height: inherit !important;
    color: #999999;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 8px;
}

span.loader {
	margin: 0px;
	display: inline-block;
	width: 150px;
}

span.loader .bar {
	display: inline-block;
	width: 100%;
	height: 30px;
}

/* form controls */
span.help-inline {
	font-size: .9em;
	font-style: italic;
	padding-top: 5px;
	color: #999;
}

/* fixes spacing glitch with combo-box followed by an empty inline help */
span.help-inline:empty {
	display: none;
}

.show_bg
{
  width: 150px;
  height: 100px;
  background-size: cover;
  background-position: center;
}
/*
`8.`888b           ,8' 8 8888888888   b.             8 8 888888888o.      8 8888888888   8 888888888o.
 `8.`888b         ,8'  8 8888         888o.          8 8 8888    `^888.   8 8888         8 8888    `88.
  `8.`888b       ,8'   8 8888         Y88888o.       8 8 8888        `88. 8 8888         8 8888     `88
   `8.`888b     ,8'    8 8888         .`Y888888o.    8 8 8888         `88 8 8888         8 8888     ,88
    `8.`888b   ,8'     8 888888888888 8o. `Y888888o. 8 8 8888          88 8 888888888888 8 8888.   ,88'
     `8.`888b ,8'      8 8888         8`Y8o. `Y88888o8 8 8888          88 8 8888         8 888888888P'
      `8.`888b8'       8 8888         8   `Y8o. `Y8888 8 8888         ,88 8 8888         8 8888`8b
       `8.`888'        8 8888         8      `Y8o. `Y8 8 8888        ,88' 8 8888         8 8888 `8b.
        `8.`8'         8 8888         8         `Y8o.` 8 8888    ,o88P'   8 8888         8 8888   `8b.
         `8.`          8 888888888888 8            `Yo 8 888888888P'      8 888888888888 8 8888     `88.*/
.vender .searchContainer
{
  width: 800px;
  clear: both;
  margin-bottom: 25px;
  position: relative;
  
}
.vender .searchContainer #filter
{
  width: 450px;
}
.vender .show_bg
{
  width: 250px;
  height: 150px;
  clear: both;
  margin:  20px 186px;
}
.autocomplete_mask
{
  width: 450px;
  height: 450px;
  max-height: 450px;  
  position: absolute;
  left: 0;
  top: 38px;
}
.autocomplete_item_container
{
  width: 463px;
  position: relative;
  float: left;
  background-color: white; 
  border: 1px solid #ccc;
  border-radius: 4px; 
  display: none;  
  z-index: 10;  
}
.autocomplete_item
{
  width: 463px;
  height: 30px;
  position: relative;
  float: left;
  display: block;
  text-align: left; 
  
}
.autocomplete_item:hover
{
  background-color: #333 ;
  text-decoration: none;
}
.autocomplete_item:hover p
{
  color: white;
}
.autocomplete_item p
{
  font-size: 14px;
  color: #333;
  padding-left: 25px;
  margin-top: 5px;
  text-decoration: none;
}
#cont_form
{
  width: 520px;
  position: relative;
  float: left;
  
}
#cont_form .form-horizontal
{
  width: 400px;
  float: left;
  clear: both;
}
#cont_form .buttonContainer
{
  width: 100%;
  clear: both
}
#resumen_total
{
  width: 400px;
  position: relative;
  float: left;

}
#resumen_item_container
{
  width: 400px;
  position: relative;
  border: 1px solid #ccc;
}
.resumen_item
{
  width: 400px;
  height: 50px;
  position: relative;
}
.resumen_item_quitar
{
  width: 20px;
  height: 50px;
  position: relative;
  float: left;
  
}
.resumen_item_nombre
{
  width: 100px;
  height: 50px;
  position: relative;
  float: left;
  text-align: left;  
}
.resumen_item_cantidad
{
  width: 25px;
  height: 50px;
  position: relative;
  float: left;
  text-align: center;
}
.resumen_item_precio_final
{
  width: 100px;
  height: 50px;
  position: relative;
  float: left;
  text-align: right;
}
.resumen_item_precio_total
{
  width: 100px;
  height: 50px;
  position: relative;
  float: left;
  text-align: right;
}
#resumen_item_total,#resumen_item_cambio
{
  margin-top: 10px;
  font-size: 18px;
  font-weight: bolder;
}
#resumen_item_pago .resumen_item_precio_final
{
  margin-right: 10px
}
#pago
{
  text-align: right
}
#resumen_item_cambio .resumen_item_precio_total.error
{
  color: red;
}
/*
    ,o888888o.        ,o888888o.     8 888888888o. 8888888 8888888888 8 8888888888
   8888     `88.   . 8888     `88.   8 8888    `88.      8 8888       8 8888
,8 8888       `8. ,8 8888       `8b  8 8888     `88      8 8888       8 8888
88 8888           88 8888        `8b 8 8888     ,88      8 8888       8 8888
88 8888           88 8888         88 8 8888.   ,88'      8 8888       8 888888888888
88 8888           88 8888         88 8 888888888P'       8 8888       8 8888
88 8888           88 8888        ,8P 8 8888`8b           8 8888       8 8888
`8 8888       .8' `8 8888       ,8P  8 8888 `8b.         8 8888       8 8888
   8888     ,88'   ` 8888     ,88'   8 8888   `8b.       8 8888       8 8888
    `8888888P'        `8888888P'     8 8888     `88.     8 8888       8 888888888888*/
.corte_item
{  
  background-color: #3C3C3C;
  color: white;
}
.table-hover tbody tr.corte_item:hover>td
{  
  background-color: #3C3C3C;
  color: gray;
}
.table td.corte_total
{
  text-align: right
}